.transaction-history {
  p {
    top: 544px;
    left: 40px;
    width: 145px;
    height: 18px;
    font-family: "Roman", "Helvetica", " Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    margin: 21px 0;
    color: #717d7c;
    padding-left: 2em;
  }
}

.card {
  margin: auto;
  width: 345px;
  min-height: 65px;
  background: #ffffff;
  box-shadow: 3px 3px 5px #00000008;
  border-radius: 5px;
  margin-bottom: 1em;

  &__details {
    padding: 12px 2em;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__details--main {
    font-family: "Helvetica", "Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    color: #3d3c3c;
  }
  &__details--sub {
    font-family: "Roman", "Helvetica", "Neue LT Std";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #717d7c;
    margin-top: 8px;
  }
  .icon-green {
    color: #39b54a;
  }
  .icon-red {
    color: #ed1a3b;
  }
  img {
    width: 24px;
    height: 16px;
    vertical-align: middle;
  }
  .type {
    margin-top: -5px;
    top: -3px;
  }
}

.card:last-of-type {
  margin-bottom: 40px;
}
